<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
     <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10048576"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
   <connectionStrings>
  <add name="Dbconnection" 
       connectionString="Server=DESKTOP-P712611\SQLEXPRESS; Database=ACADEMIAAPP_DB;Integrated Security=true;" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>